<ion-header>
  <ion-toolbar>
    <ion-title>place</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="atras" defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form novalidate [formGroup]="form">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type='text' formControlName="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Direccion</ion-label>
        <ion-input type='text' formControlName="direccion"></ion-input>
      </ion-item>

      <ion-list>
        <ion-list-header>Selection</ion-list-header>
        <ion-item>
          <ion-label>Categoria</ion-label>
          <ion-select placeholder="libre" formControlName="categoria">
            <ion-select-option value="libre">Libre</ion-select-option>
            <ion-select-option value="cerrada">Cerrada</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-item>
        <ion-label position="stacked">Descripcion</ion-label>
        <ion-textarea placeholder="Descripcion" formControlName="descripcion"></ion-textarea>
      </ion-item>

      <ion-button expand="block" shape="round" [disabled]="form.invalid" (click)="savePlace()">Guardar nota
      </ion-button>
  </form>
</ion-content>