<!-- <ion-tabs>
  <ion-tab tabTitle="Feed" tabIcon="megaphone" [root]="tab1Root"></ion-tab>
  <ion-tab tabTitle="Perfil" tabIcon="cog" [root]="tab2Root"></ion-tab>
</ion-tabs> -->
<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="place">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
      
      <ion-tab-button tab="perfil">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>