<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button color="danger" (click)="navPlace(1)">Navegar 1er Lugar</ion-button>
  <ion-button color="danger" (click)="navPlace(2)">Navegar 2do Lugar</ion-button>
  <p text-center>texto centrado</p>
  <p text-right>texto derecha</p>
  <p text-left>texto izquierda</p>
  <p text-uppercase>texto mayuscula</p>
  <p text-lowercase>TEXTO MINUSCULA</p>
  <p text-capitalize>texto con pura minusula</p>
  <p text-wrap>For example, on a route with a paginated list, the URL might look like the following to indicate that we've loaded the second pag</p>
  <p text-nowrap>For example, on a route with a paginated list, the URL might look like the following to indicate that we've loaded the second pag</p>
</ion-content>

<ion-footer>
  <p>hola desde el footer</p>
</ion-footer>
